:root {
  font-family: "Barlow", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

table {
  /* border: 0.5px solid #D9D8DA; */
  border-collapse: collapse;
  /* border-radius: 10px; */
}

.table {
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
}

.table_head {
  background: #f9f9f980;
  border-radius: 10px;
  height: 40px;
}

.table_head th {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: #605d66;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
}

.table_body td {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2b292f;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.table_body:nth-child(even) {
  background-color: #f9f9f980;
}

.table_body:last-child {
  border-radius: 10px;
}

input {
  border: 1px solid #d9d8da;
  border-radius: 10px;
  padding: 12px;
  outline: none;
  width: auto;
}

input::placeholder {
  color: #bfbec2;
  font-size: 14px;
  font-weight: 400;
}

select {
  border: 1px solid #d9d8da;
  border-radius: 10px;
  padding: 12px;
  outline: none;
  width: auto;
}
