.card {
  background-image: url("../../assets/line.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding: 16px;
  display: flex;
  flex-direction: column !important;
  border: 1px solid #d9d8da;
  border-radius: 10px;
}

.circle {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background: #123fdf33;
  border-radius: 100%;
}

.number {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 24px;
  color: #2b292f;
}

.text {
  font-weight: 500;
  font-size: 12px;
  margin-top: 0;
  color: #605d66;
}
